# MySQL Database Configuration
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=stitch_v2
DB_TABLE=defects

# MQTT Configuration
MQTT_SERVER=localhost
MQTT_PORT=1883
MQTT_USERNAME=user
MQTT_PASSWORD=password
MQTT_TLS_INSECURE=true
